*.lisp~
*.com
*.class
*.dll
*.exe
*.o
*.so
*.settings
*.metadata

openccg/actup-realizer/bin/*
openccg/.recommenders/*

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.swp
*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
