*.lisp~
*.com
*.class
*.dll
*.exe
*.o
*.so
*.settings
*.metadata

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.swp
*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/ebuild
/cobertura.ser
/build.properties
/build
/bin

build.xml

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.buildpath
.target
.texlipse
.recommenders/
