experiment-models/
srilm/lm-corpus
old-models/
srilm/lib/
jactr-production-old/
jactr-production/models/
jactr-production/runs/
experiments/
rawdata/

*.bash

*.local
*.cached
*.lisp~
*.com
*.class
*.dll
*.exe
*.o
*.so
*.settings
*.metadata

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*-old

*.swp
*.log
*.sql
*.sqlite

config.xml
rouge/realizations/*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/ebuild
/cobertura.ser
/build.properties
/build
/bin

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.buildpath
.target
.texlipse
.recommenders/
