<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/actup-realizer/src/opennlp/ccg/Parse.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="opennlp.ccg.Parse"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-g &quot;../config/grammar/grammar.xml&quot; -parsescorer &quot;opennlp.ccg.ngrams.NgramPrecisionModel&quot; -stconfig &quot;../config/tagger/stconfig&quot; &quot;../../../ap-largefiles/swbd-flattened.txt&quot; &quot;../../../ap-largefiles/switchboard-parsed.txt&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="actup-realizer"/>
</launchConfiguration>
