<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/actup-realizer/src/opennlp/ccg/Realize.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="opennlp.ccg.Realize"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-g &quot;/home/jrc/actup-production/openccg/grammars/switchboard/grammar.xml&quot; &quot;/home/jrc/actup-production/openccg/test/testlf.xml&quot; &quot;/home/jrc/ap-largefiles/switchboard-output.txt&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="actup-realizer"/>
</launchConfiguration>
