<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.jactr.instruments">
      <instrument
            class="edu.psu.acs.lang.CorrectRuleListener"
            hidden="false"
            name="edu.psu.acs.lang.CorrectRuleListener"
            requiresClasspath="false">
         <parameter
               name="edu.psu.acs.lang.parameter1"
               value="edu.psu.acs.lang.parameter1">
         </parameter>
         <description>
            description body text
         </description>
      </instrument>
   </extension>
</plugin>
