<ROUGE-EVAL version="1.0">
<EVAL ID="SWBD-SAMPLE">
<PEER-ROOT>
actup/realizations
</PEER-ROOT>
<MODEL-ROOT>
actup/gold
</MODEL-ROOT>
<INPUT-FORMAT TYPE="SPL">
</INPUT-FORMAT>
<PEERS>
<P ID="ACTR">ctr-realize.spl</P>
<P ID="STD">std-realize.spl</P>
</PEERS>
<MODELS>
<M ID="ACTR">goals.spl</M>
<M ID="STD">goals.spl</M>
</MODELS>
</EVAL>
</ROUGE-EVAL>
